a {
	color: #2F5868;
	text-decoration: none;
}
a:hover {
	color: ##14252C;
	text-decoration: none;
	-webkit-transition: all 400ms ease;
	transition: width 2px;
}
p {
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 23px;
}
#nav {
	border-bottom: 1px solid #dddddd;
	background-color: #809494;
	position: fixed;
	width: 50%;
	z-index: 10;
	padding: 10px;
	text-align: center;
	font-weight: 700;

}
#container {
	max-width: 900px;
	padding-top: 60px;
	margin: auto;
}
#about {
	max-width: 605px;
	padding-bottom: 40px;
	padding-top: 15px;
	margin: auto;
	text-align: center;
}