html {
	background-color: white;
	-webkit-font-smoothing:antialiased
}
#container {
	max-height: 500px;
	max-width: 350px;
	margin: 0 auto;
}
#about {
	max-width: 400px;
	margin: 0 auto;
}
#about img {
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 3px 3px 2px grey;
}
#about h3 {
	float: right;
	width: 100px;
	transform: rotate(90deg);

}
#bio, .testGround, #toggleTests {
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	text-align: center;
	color: #000000;
	text-decoration: none;
}
.testGround {
	display: none;
}
button {
	display: block;
	margin: 0 auto;
	background-color: white;
	font-size: 10px;
	color: black;
	border: 1px solid #5533FF;
	width: 100px;
}
button:hover {
	background-color: #5533FF;
}
button:active {
	background-color: #5544FF;
}
button:focus {
	outline: none;
}
#bio a {
	text-decoration: none;
	color: #5533FF;
}

#bio a:hover {
	text-decoration: underline;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}