html, body {
	background-color: white;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}
#container {
	width: 50%;
	margin: 50px auto;
}
#about {
	position: relative;
	max-width: 300px;
	height: 400px;
	margin: auto;
}
#about img {
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 3px 3px 2px grey;
	border-style: solid;
	border-width: 1px;
}
#about p {
	font-family: 'Raleway', sans-serif;
	size: 30px;
	color: #FFF;
	width: 120px;
	margin: auto;
	display: block;
	background-image: linear-gradient(to top left, #401aff, #5533FF, #6a4dff);
	text-align: center;
	box-shadow: 3px 3px 2px grey;
}
#bio, .testGround, #toggleTests {
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	text-align: center;
	color: #000000;
	text-decoration: none;
}
.testGround {
	display: none;
}
.testGround ul {
	margin: auto;
	padding: 0 0 0 0;
}
button {
	display: block;
	margin: 0 auto;
	background-color: white;
	font-size: 10px;
	color: black;
	border: 1px solid #5533FF;
	width: 100px;
}
button:hover {
	background-color: #5533FF;
}
button:active {
	background-color: #5544FF;
}
button:focus {
	outline: none;
}
#bio a {
	text-decoration: none;
	color: #5533FF;
}

#bio a:hover {
	text-decoration: underline;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}